[Record]
read_weight_path: 
write_weight_folder: ../../train/graphAE_cirdata/weight_10/
write_tmp_folder: ../../train/graphAE_cirdata/tmp_10/
logdir: ../../train/graphAE_cirdata/log_10/



[Params] 
lr: 0.0001

batch: 100

w_pose: 1
w_laplace: 0 

augment_data: 0

weight_decay: 0.00001
lr_decay: 0.99
lr_decay_epoch_step: 1


start_epoch: 0
epoch: 201
evaluate_epoch: 2

perpoint_bias: 0


template_ply_fn: ../../data/CIRTech_Data/template.ply


point_num: 3933

pcs_train_X: ../../data/CIRTech_Data/train_X_vertices_npy.npy
pcs_train_Y: ../../data/CIRTech_Data/train_Y_vertices_npy.npy

pcs_evaluate_X: ../../data/CIRTech_Data/eval_X_vertices.npy
pcs_evaluate_Y: ../../data/CIRTech_Data/eval_Y_vertices.npy

pcs_evaluate_faces: ../../data/CIRTech_Data/eval_Y_faces.npy

pcs_test: ../../data/CIRTech_Data/test.npy


connection_folder:  ../../train/graphAE_cirdata/ConnectionMatrices/

initial_connection_fn:../../train/graphAE_cirdata/ConnectionMatrices/_pool0.npy

connection_layer_lst: ["pool0", "pool1",  "pool2", "pool3", "unpool3","unpool2","unpool1","unpool0"]

##residual only layer's channel number should be the same as the previous layer
channel_lst:          [32, 64,  128,   9, 128, 64, 32, 3]

weight_num_lst:       [17,17,17, 17, 17, 17,17,17]

## 0 for conv only, 1 for residual only, 0.X for (1-0.X)*conv+0.X*res 
residual_rate_lst:    [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]






